<!-- INDEX CONTENT -->
<div class="container">

        <div class="row m-0 p-0">

            <div class="col-md-12 mb-3 mt-3">
                <p class="h6"><img src="img/glyphicons-66-tag.png">&nbsp;&nbsp;Current sales in
                    <span class="contentCity">MINNEAPOLIS, MN</span>
                </p>
            </div>

        </div>

        <div class="row m-0 p-0">

             <div class="col-md-4 m-0 p-0"> 
                <div class="card text-center">
                    {{#each listing}}
                        <img class="card-img-top" src="{{ this.image }}" >
                        <h5 class="card-title">{{ this.address }}</h5>
                        <p class="card-text">{{ this.comment }}</p>
                        <div>{{this.listingRoute}}</div> <!-- this might need a correction -->
                    {{/each}}
                </div>
            </div>

            <div class="col-md-4 m-0 p-0">
                <div class="card text-center">
                    <img class="card-img-top" src="img/house1.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">789 Stark Ln</h5>
                        <p class="card-text">Found a metal gauntlet with some stones in them. Never used it before and figured someone may have a use for it. Selling other items as well: amulets, rare metals from foreign land, and metal suits.</p>
                        <a href="listing.html" class="btn btn-primary border-0 indListingBtn">Go somewhere</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 m-0 p-0">
                <div class="card text-center">
                    <img class="card-img-top" src="img/house2.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">5678 Isle Lake Dr</h5>
                        <p class="card-text">We have too much stuff and want to get rid of it. Not picky on price, offering the best deals for all buyers. Come and get it quick, things will sell out I promise!</p>
                        <br>
                        <a href="listing.html" class="btn btn-primary border-0 indListingBtn">Go somewhere</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 m-0 p-0">
                <div class="card text-center">
                    <img class="card-img-top" src="img/house3.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">345 Westshire Ln</h5>
                        <p class="card-text">Emptying out the closet full of kids clothes. We no longer need them. Come and find items, most are good... there are some antiques.</p>
                        <br>
                        <a href="listing.html" class="btn btn-primary border-0 indListingBtn">Go somewhere</a>
                    </div>
                </div>
            </div>

        </div>

    </div>